<div class="card div" ng-hide="showAnita" >
        <div class="card card-body" style="background-image: url(img/found.png);background-repeat: no-repeat;background-position: bottom; border-radius:11px; " >
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 mt-4 pl-4">
                           <img src="img/Logo.png" class="logo1"> 
                        </div>
                        <div class="col-md-12 text-center">
                           <img src="img/imgpc.png" class="compu"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-7 mt-5">
                    <div class="col-md-12">
                        <p class="texto4">Con MyIT reporta tus<br> 
                                          casos de <span class="maner">manera sencilla</span></p>    
                    </div>
                    <div class="col-md-12">
                       <p class="texto5">Registra y consulta tus casos<br>
                                         asociados a servicios de IT.</p>     
                    </div>
                    <div class="col-md-12">
                      <a class="boton_5 e" ui-sref-active="activestate" ng-click="usuario()"><div class="maletin"></div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Usuario de MyIT</a>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 22%;">
                      <a class="boton_6 f" ui-sref-active="activestate" ng-click="usuario1()"><div class="hombre"></div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Usuario Resolutor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

