<div class="card div" ng-hide="showAnita">
        <div class="card card-body" style="background-image: url(img/found.png);background-repeat: no-repeat;background-position: bottom; border-radius:11px; " >
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12 mt-4 pl-4">
                           <img src="img/Logo.png" class="logo2">
                        </div>
                        <div class="col-md-12 text-center">
                           <img src="img/bolsa.png" class="compu">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 mt-5">
                    <div class="col-md-12">
                        <p class="texto4">MyIT <span class="maner">Store</span></p>    
                    </div>
                    <div class="col-md-12">
                       <p class="texto5">Ingresa a la tienda desde un navegador<br>
                                         Internet Explorer.</p>     
                    </div>
                    <div class="col-md-12">
                      <a class="boton_7 g" ui-sref-active="activestate" ng-click="fija()"><div class="house"></div> &nbsp; &nbsp; &nbsp; &nbsp; Ingreso dominio Fija</a>
                    </div>
                    <div class="col-md-12">
                      <a class="boton_8 h" ui-sref-active="activestate" ng-click="movil()"><div class="celu"></div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ingreso dominio Móvil</a>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 17%;">
                      <a class="boton_9 i" ui-sref-active="activestate" ng-click="dominio()"><div class="red"></div> &nbsp; &nbsp; &nbsp; &nbsp; Usuarios dominio ClaroCo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>