<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>MyIT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
        <link href="css/sweetalert2.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
        <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">    -->
    </head>
    <body style="overflow-x:hidden;">
        <div class="container-fluid conVista" ng-show="banner">             
            <header class="header" >
                <!--<div id="carouselExampleControls" class="carousel slide rowLogo" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" ng-repeat="item in banners" ng-class="$index==0?'active':''">
                            <img style="max-height: 300px !important;min-height: 200px !important;min-width: 100% !important" ng-src="{{item.ruta}}" class="img img-fluid">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>-->
                <div style="height: auto">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in banners track by $index" index="$index">
                            <img  ng-src="{{slide.ruta}}" class="img-fluid img-banner">
                        </div>
                    </div>
                </div>
                <!--<div class="row rowLogores" ng-hide="mostrar">
                    <div class="col-md-12 col-12 p-0">
                        <img src="img/bannerRes.png" class="img img-fluid"> 
                    </div>
                </div>-->
            </header>
        </div>
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-12" ng-show="cerrar">
                    <div class="col-xs-8 offset-xs-2 col-sm-8 offset-sm-2 col-md-4 offset-md-2"> 
                        <button class="boton_20 t" ng-click="cerrarchat()">cerrar chat</button>
                    </div>
                </div>
                <div class="col-md-12 botones p-3 mtBotonsResp" ng-show="botones">
                    <a ui-sref="inicio" ui-sref-active="activestate" class="boton_1 a">Pregúntale a AnITa</a>
                    <a ui-sref="MyIT" class="boton_2 b" ui-sref-active="activestate">MyIT</a>
                    <a ui-sref="store" class="boton_3 c" ui-sref-active="activestate">MyIT Store</a>
                </div>
                <div class="" style="width: 100%">
                    <div ui-view>

                    </div>
                </div>
            </div>
            <footer class ="footerNor footer-bottom mt-2">
                <div class="row text-center mt-2">
                    <div class="col-md-6 col-4 text-right">
                        <img src="img/claro.png" class="claro">
                    </div>
                    <div class="col-md-6 col-8 p-0 text-left">
                        <p class="textoclaro">Claro Colombia 2019. Todos los derechos reservados</p>
                    </div>
                </div>
            </footer>
            <footer class ="footerResp" ng-hide="mostrar">
                <div class="row text-center mt-2">
                    <div class="col-md-6 col-4 text-right">
                        <img src="img/claro.png" class="claro">
                    </div>
                    <div class="col-md-6 col-8 p-0 text-left">
                        <p class="textoclaro">Claro Colombia 2019. Todos los derechos reservados</p>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="plugins/angularjs/angular.min.js"></script>
        <script src="plugins/sweetalert2.js"></script>
        <script src="css/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/js/all.js" data-auto-replace-svg="nest"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="controller/app.js"></script>
        <script src="services/factory.js"></script>
        <script src="controller/preguntaAnita.js"></script>
        <script src="controller/chatCtrl.js"></script>
        <script src="controller/myIT.js"></script>
        <script src="controller/myITstore.js"></script>
        <script src="controller/index.js"></script>

    </body>   
</html>